@import 'src/assets/styles/helpers/all';

$danger600: #e74c3c; // Example color, replace with the actual value
$danger700: red;

.card {
  background-color: $neutral800;
  border-radius: 6px;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  width: 332px;

  .content {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .image {
    border-radius: 4px;
    height: 80px;
    width: 80px;
  }

  h5 {
    @include headline-h5();
  }

  .description {
    @include caption($neutral400);
  }

  .poodlImage {
    width: 25px;
    height: 25px;
  }

  .removeButton {
    padding: 6px 12px;
    background-color: $danger600;
    color: white;
    border-radius: 4px;

    &:hover {
      background-color: $danger700;
    }
  }
}

